<footer>
    <div class="footer-cont">
        <section class="sec-1 foot-sec">
            <h3>Support</h3>
            <ul>
                <li><a href="">Help Center</a></li>
                <li><a href="">AirCover</a></li>
                <li><a href="">Anti-discrimination</a></li>
                <li><a href="">Disability support</a></li>
                <li><a href="">Cancellation options</a></li>
                <li><a href="">Report neighbourhood concern</a></li>
            </ul>
        </section>
        <section class="sec-2 foot-sec">
            <h3>Hosting</h3>
            <ul>
                <li><a href="">Airbnb your home</a></li>
                <li><a href="">AirCover for Hosts</a></li>
                <li><a href="">Hosting resources</a></li>
                <li><a href="">Community forum</a></li>
                <li><a href="">Hosting responsibly</a></li>
                <li><a href="">Join a free Hosting class</a></li>
                <li><a href="">Find a co‑host</a></li>
            </ul>
        </section>
        <section class="sec-3 foot-sec">
            <h3>Musafir</h3>
            <ul>
                <li><a href="">Newsroom</a></li>
                <li><a href="">New features</a></li>
                <li><a href="">Careers</a></li>
                <li><a href="">Investors</a></li>
                <li><a href="">Airbnb.org emergency stays</a></li>
            </ul>
        </section>
    </div>
    <div class="footer-icons">
        <a href=""> <i class="fa-brands fa-square-facebook"></i></a>
        <a href="https://x.com/Daniyal262"><i class="fa-brands fa-square-twitter"></i></a>
        <a href="https://www.instagram.com/_daniyal_26"><i class="fa-brands fa-square-instagram"></i></a>
    </div>
    <div class="footer-end">
        <span>© 2025 Musafir, Inc.</span>
    </div>
</footer>

<script src="/js/script.js"></script>