<nav class="navbar">
    <div class="logo"><a href="/listings"><img src="/assets/logo.png" alt=""></a></div>
    <a href="/">Home</a>
    <a href="/listings">All listings</a>
    <a href="/listings/new">New Listing</a>
    <a href=""></a>
</nav>