<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../includes/links.ejs') %>
</head>

<body>
    <%- include('../includes/navbar.ejs') %>
    <div class="error-cont">
        <h4>An Error Occured!!</h4>
        <p> <%= message %></p>
        <i class="fa-solid fa-triangle-exclamation"></i> 
    </div>
</body>