<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musafir - Log in</title>
    <%- include('../includes/links.ejs') %>
</head>

<body>
    <%- include('../includes/navbar.ejs') %>

    <%- include('../includes/flash.ejs') %>

        <div class="outer-cont">
            <div class="login-cont signup-cont">
                <h1>Log in</h1>
                <form action="/user/login" method="POST" class="login-form signup-form new-form form-control ">
                    <div>
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username" placeholder="Enter username" required>
                    </div>
                    <div>
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" placeholder="Enter password" required>
                    </div>
                    <button type="submit" class="form-btn-sign-in">Log in</button>
                </form>
                <p>Don't have an account? <a href="/user/signup"> Sign up </a></p>
            </div>
        </div>

        <%- include('../includes/footer.ejs') %>

    </body> 

</html>